
###AUTHENTIFICATION###


###AUTHENTIFICATION###

# Set explicit cache header for temporary files like JavaScript & CSS
<FilesMatch "^js_css_optimizer.*(\.js|\.css)$">
	<IfModule mod_expires.c>
		ExpiresActive on
		ExpiresDefault "access plus 4 days"
	</IfModule>
	FileETag MTime Size
</FilesMatch>

RewriteEngine On
RewriteBase /

# Redirect (old) domains properly
RewriteCond %{HTTP_HOST} www.typo3.org [NC,OR]
RewriteCond %{HTTP_HOST} typo3.com [NC,OR]
RewriteCond %{HTTP_HOST} edu.typo3.com [NC,OR]
RewriteCond %{HTTP_HOST} typo3.de [NC,OR]
RewriteCond %{HTTP_HOST} preview.typo3.org [NC]
RewriteRule (.*) http://typo3.org/$1 [R=301,L]

RewriteCond %{HTTP_HOST} news.typo3.org [NC]
RewriteRule .* http://typo3.org/news/ [R=301,L]

RewriteCond %{HTTP_HOST} snippets.typo3.org [NC]
RewriteRule .* http://typo3.org/documentation/snippets/ [R=301,L]

RewriteCond %{HTTP_HOST} support.typo3.org [NC]
RewriteRule .* http://typo3.org/support/ [R=301,L]

# Redirect to api.typo3.org
RewriteRule ^fileadmin/typo3api.* /documentation/api/ [R=301,L]

# Transform old "tt-news-helper" to "tt_news_helper" within the ter urls
# 2012-12-07 Christian Zenker: removed to fix #37963
#RewriteRule ^(extensions/repository/view/[^/]*?)-([^/]*?-[^/]*)(/?.*) $1_$2$3 [N]
#RewriteRule ^(extensions/repository/view/[^/]*?)-([^/-]*)(/?.*)       $1_$2$3 [R=302,L]

# Legacy redirects for the TER
RewriteRule ^(extensions/repository/view/)(.*)/(.*) $1$2           [R=301,L]
RewriteRule ^wsdl/tx_ter_wsdl.php$ typo3conf/ext/ter/tx_ter_wsdl.php [L]
RewriteRule ^extensions/repository/(list|new|popular|fulllist)/ extensions/repository/ [R=301,L]

# Legacy redirects
RewriteRule ^doc.0(.html)? documentation/ [R=301,L]
RewriteRule ^documentation/faq-howto documentation/ [R=301,L]
RewriteRule ^community/service-offerings/consultancies support/professional-services/ [R=301,L]
RewriteRule ^community/irc-chat support/irc-chat/ [R=301,L]
RewriteRule ^community/participate/ participate/ [R=301,L]
RewriteRule ^download/(packages|installer|installers) download/ [R=301,L]
RewriteRule ^community/service-offerings/ support/professional-services/ [R=301,L]
RewriteRule ^fileadmin/dl/videos/ documentation/tutorial-videos/ [R=301,L]
RewriteRule ^community/people/kaspers-korner/ about/typo3-the-cms/the-history-of-typo3/ [R=301,L]
RewriteRule ^community/mailing-lists support/mailing-lists/ [R=301,L]
RewriteRule ^development/articles/([^/]+) documentation/article/$1 [R=301,L]
RewriteRule ^development/gsoc20(08|09|10|11|12) projects/google-summer-of-code/ [R=301,L]
RewriteRule ^development/roadmap/ roadmap/ [R=301,L]
RewriteRule ^documentation/videos/(quick-reference-v4-de|quick-reference-v4|tutorials-v4-de|tutorials-v4|wmv-format|xvid-format)/ documentation/videos/ [R=301,L]
RewriteRule ^1275.0.html about/typo3-the-cms/system-requirements/ [R=301,L]
RewriteRule ^license about/licenses/ [R=301,L]
RewriteRule ^about/credits projects/typo3-org/ [R=301,L]
RewriteRule ^about/system-requirements about/typo3-the-cms/system-requirements/ [R=301,L]
RewriteRule ^documentation/other-resources documentation/ [R=301,L]
RewriteRule ^fileadmin/bigpicture.phps about/typo3-the-cms/the-history-of-typo3/ [R=301,L]
RewriteRule ^news-single-view news/ [R=301,L]
#RewriteRule ^teams/security/security-bulletins/typo3-core/typo3-sa-2010-022 teams/security/security-bulletins/typo3-sa-2010-022/ [R=301,L]
RewriteRule ^teams/core/ teams/core-development-team/ [R=301,L]
RewriteRule ^documentation/document-library/extension-manuals/(.*) extension-manuals/$1 [R=301,L]
RewriteRule ^documentation/document-library/references/(.*) documentation/document-library/core-documentation/$1 [R=301,L]
RewriteRule ^documentation/document-library/(guides|tutorials|core-documentation)/$ /documentation/document-library/$1//current/ [R=302,L]
RewriteRUle ^documentation/typo3-book/$ documentation/ [R=301,L]
RewriteRule ^favicon\.ico$ /typo3conf/ext/t3org_template/icons/favicon.ico [R=301,L]
RewriteRule ^news/article/$ news/ [R=301,L]

# Old RSS feed URLs
RewriteRule ^rss091.xml$ xml-feeds/rss.xml [R=301,L]
RewriteRule ^news/typo3-association/rss.xml$ xml-feeds/select_category/6/rss.xml [R=301,L]
RewriteRule ^news/teams/security/rss.xml$ xml-feeds/security/1/rss.xml [R=301,L]
RewriteRule ^xml-feeds/select_category/9/rss.xml$ xml-feeds/security/1/rss.xml [R=301,L]
RewriteRule ^news/teams/security/rss091.xml$ xml-feeds/security/1/rss.xml [R=301,L]
RewriteRule ^news/development/rss.xml$ xml-feeds/select_category/1/rss.xml [R=301,L]


# Legacy SingleSignOn redirects
RewriteRule ^community/your-account/forge/ my-account/sso/forge/ [R=301,QSA,L]
RewriteRule ^community/your-account/wiki-login/ my-account/sso/wiki/ [R=301,QSA,L]
RewriteRule ^community/your-account/loginlogout my-account/login/ [R=301,L]
RewriteRule ^your-account/loginlogout my-account/login/ [R=301,L]

# Short urls which are claimed in some flyers
RewriteRule ^podcast(s?)(/|$) videos [R=301,L]
RewriteRule ^download/packages$	download [R=301,L]
RewriteRule ^extension(s?)(/$|$) extensions/repository/ [R=301,L]
RewriteRule ^donate(/?)$ donate/online-donation/ [R=301,L]

# unused page
RewriteRule ^extensions/repository/search.*$ extensions/repository/ [R=301,L]

# target site of typo3.ch redirect
RewriteCond %{QUERY_STRING} id=1221&L=2
RewriteRule .* /? [R=301,L]

# Todo: Switch to case studies once they're live
RewriteRule ^about/sites-made-with-typo3/ http://www.t3blog.com [R=302,L]

# "Go" links
RewriteRule ^go/exception/(.*)$ http://wiki.typo3.org/index.php/Exception$1 [L]
RewriteRule ^go/issue/(.*)$ http://forge.typo3.org/issues/show/$1 [L]

# redirect old documentation to the new server
RewriteRule ^documentation/document-library/core-documentation/doc_core_api/(.*)$        http://docs.typo3.org/typo3cms/CoreApiReference/                [R=301,L]
RewriteRule ^documentation/document-library/core-documentation/doc_core_cgl/(.*)$        http://docs.typo3.org/typo3cms/CodingGuidelinesReference/       [R=301,L]
RewriteRule ^documentation/document-library/core-documentation/doc_core_inside/(.*)$     http://docs.typo3.org/typo3cms/InsideTypo3Reference/            [R=301,L]
RewriteRule ^documentation/document-library/core-documentation/doc_core_services/(.*)$   http://docs.typo3.org/typo3cms/Typo3ServicesReference/          [R=301,L]
RewriteRule ^documentation/document-library/core-documentation/doc_core_skinning/(.*)$   http://docs.typo3.org/typo3cms/SkinningReference/               [R=301,L]
RewriteRule ^documentation/document-library/core-documentation/doc_core_tca/(.*)$        http://docs.typo3.org/typo3cms/TCAReference/                    [R=301,L]
RewriteRule ^documentation/document-library/core-documentation/doc_core_ts/(.*)$         http://docs.typo3.org/typo3cms/TyposcriptSyntaxReference/       [R=301,L]
RewriteRule ^documentation/document-library/core-documentation/doc_core_tsconfig/(.*)$   http://docs.typo3.org/typo3cms/TSconfigReference/               [R=301,L]
RewriteRule ^documentation/document-library/core-documentation/doc_core_tsref/(.*)$      http://docs.typo3.org/typo3cms/TyposcriptReference/             [R=301,L]
RewriteRule ^documentation/document-library/guides/doc_guide_install/(.*)$               http://docs.typo3.org/typo3cms/InstallationGuide/               [R=301,L]
RewriteRule ^documentation/document-library/guides/doc_guide_security/(.*)$              http://docs.typo3.org/typo3cms/SecurityGuide/                   [R=301,L]
RewriteRule ^documentation/document-library/guides/doc_l10nguide/(.*)$                   http://docs.typo3.org/typo3cms/FrontendLocalizationGuide/       [R=301,L]
RewriteRule ^documentation/document-library/tutorials/doc_tut_editors/(.*)$              http://docs.typo3.org/typo3cms/EditorsTutorial/                 [R=301,L]
RewriteRule ^documentation/document-library/tutorials/doc_tut_quickstart/(.*)$           http://docs.typo3.org/typo3cms/GettingStartedTutorial/          [R=301,L]
RewriteRule ^documentation/document-library/tutorials/doc_tut_ts45/(.*)$                 http://docs.typo3.org/typo3cms/TyposcriptIn45MinutesTutorial/   [R=301,L]

RewriteRule ^about/typo3-the-cms/system-requirements/?$ about/typo3-cms/system-requirements/ [R=301,L]

# Security:
# - block access to TYPO3 source
# - block access to existing backup files
# - block access to ChangeLog, SQL and TXT files of extensions
# - block access to information generated by the extension kickstarter
# - block access to TYPO3 configuration files
RewriteRule ^typo3_src(/.*)?$                                    - [R=404,L]
RewriteRule (~|#|\.bak|\.old|\.orig)$                            - [NC,R=404,L]
RewriteRule ^typo3conf/ext/.*(ChangeLog|\.txt|\.sql)$            - [NC,R=404,L]
RewriteRule ^(typo3conf/ext|typo3/sysext)/.*/doc/                - [R=404,L]
RewriteRule ^typo3conf/(domainconf|localconf|realurlconf)\.php$  - [R=404,L]
RewriteRule ^typo3conf/ext/js_css_optimizer/                     - [R=404,L]


# whitelist for typo3 WS-preview
RewriteRule ^typo3/sysext/rsaauth/ - [L]
RewriteRule ^typo3/stylesheet.css$ - [L]
RewriteRule ^typo3/sysext/version/ - [L]
RewriteRule ^typo3/mod/user/ws/ - [L]
RewriteRule ^typo3/tce_db\.php$ - [L]
RewriteRule ^typo3/gfx/ - [L]
RewriteRule ^typo3/sysext/t3skin - [L]
RewriteRule ^typo3/sysext/workspaces/Resources/Public - [L]
RewriteRule ^typo3/mod.php - [L]
RewriteRule ^typo3conf/ext/dam/mod_file/.* - [L]


# if backend is called and HTTP HOST is not backend.domain, then redirect to typo3 information page
# RewriteCond %{HTTP_HOST} !^backend\.
# RewriteCond %{REQUEST_URI} ^/typo3(/|$)
# RewriteCond %{QUERY_STRING} !web_WorkspacesWorkspaces
# RewriteRule .* http://%{HTTP_HOST}/ [L,NE]

# Enforce HTTPS for the backend, except on local development hosts (*.dev)
RewriteCond %{ENV:HTTPS} !on [NC]
RewriteCond %{HTTP_HOST} !\.dev$ [NC]
RewriteCond %{REQUEST_URI} ^/typo3(/|$)
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=302,L]

# Fix #37233: Prevent indexing except on the live website
RewriteCond %{HTTP_HOST} !^typo3.org$ [NC]
RewriteRule robots.txt robots_dev.txt [L]

# Disable mod_rewrite for ns/ (Namespaces URI)
RewriteRule ^ns/ - [L]

# Disable mod_rewrite for Git/Gerrit authentication services (services/)
RewriteRule ^services/ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)\.(\d+)\.(php|js|css|png|jpg|gif|gzip)$ $1.$3 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*).html$ $1/ [L,R,QSA]

RewriteRule ^(typo3/|t3lib/|tslib/|fileadmin/|typo3conf/|typo3temp/|uploads/|showpic\.php|favicon\.ico|clear\.gif|robots\.txt|crossdomain\.xml) - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule .* index.php [L]



